# MySQL Async
DB_HOST=127.0.0.1
DB_PORT=33306
DB_USER=root
DB_PASSWORD=root123
DB_NAME=analytics_manager_v1

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Application
PROJECT_NAME="Analytics Manager"
API_V1_STR="/analytics-manager/api/v1"
BACKEND_CORS_ORIGINS=["*"]

# Google Cloud
# 1. Path to service account key file
GOOGLE_APPLICATION_CREDENTIALS="secrets/credentials.json"

# OR (Optional)
# 2. JSON Content directly (Base64 encoded safer, but raw JSON often used in k8s secrets)
# GOOGLE_SERVICE_ACCOUNT_JSON='{...}'

FEATURE_BIGQUERY_HISTORY_TABLE=gizmopool.test_data.table_load_history
