PROJECT_NAME=Lineage Manager V2
API_V1_STR=/api/v1

# Database (Default for Dev: SQLite Async, Prod: MySQL Async)
# Example: mysql+aiomysql://user:password@localhost:3306/lineage_v2
DATABASE_URL=sqlite+aiosqlite:///./lineage_v2.db

# Security
JWT_SECRET=CHANGE_THIS_IN_PRODUCTION
ACCESS_TOKEN_EXPIRE_MINUTES=11520 # 8 days
