# Backend Configuration
BACKEND_PORT=5003

# MySQL Configuration
DB_HOST=mysql80
DB_PORT=3306
DB_NAME=lineage_manager
DB_USER=ss_admin
DB_PASSWORD=admin_password
DB_ROOT_PASSWORD=root_password
DB_EXTERNAL_PORT=33306

# Redis Configuration
REDIS_HOST=redis-container
REDIS_PORT=6379
REDIS_EXTERNAL_PORT=6379
